.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-image {
  background-image: url('./assets/sentiments.png');
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.center-flex {
 justify-content: center !important;
}

button {
  margin: 0 10px !important;
}


.fixed {
  position: fixed !important;
}


.hide-component {
  display: none !important;
}

.lds-hourglass {
  background: #827e7eb3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1051;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 50px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 3s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(900deg);
  }
}

.left-align {
  text-align: left;
}

.right {
 text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.white {
  color: white;
}